<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% employees.forEach(employee => {  //user can ONLY book one service%>

    <h3><%= employee.name %></h3>

    <% employee.availability.forEach(slot => { %>

        <button>
            <%= slot.time.toLocaleTimeString([], {
                hour: "2-digit",
                minute: "2-digit"
            }) %>
        </button>

    <% }) %>

<% }) %>
</body>
</html>