<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="javascript:window.history.back();">←</a>
    <div class="date-container">
        <% /* <div data-month="2026-7">
            <p>19</p>
            <span>Sunday</span>
        </div>*/%>
        <label for="date"></label>
        <input name="date" id="date" type="datetime-local" value="2026-7-19T12:00" min="2026-7-19T00:00" max="2026-9-19T00:00">
    </div>
</body>
</html>