<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/update.css">
</head>
<body>
    <%- include('../partials/navbar') %>
    <a href="javascript:window.history.back();" id="back">← </a>
    <h1>Update Page</h1>
 <form action="/salons/appoint/<%= updateBookings._id %>?_method=PUT" method="post">
    <label>Name</label>
    <input name="customerName" placeholder="Enter Your Name">
    
    
    <label>Telephone</label>
    <input name="phone" placeholder="+973">
    
    
    <label>Notes</label>
    <textarea name="notes" placeholder="Tell us if you have a special request, ex: Please use organic products"></textarea>
    
    
    <label>
        <input type="checkbox" name="isGift">
        Is gift?
    </label>
    <small id="giftNote"> If this booking is a gift, please send the receiver’s information on WhatsApp number: 7818890</small>

    <button type="submit">Update</button>
 </form>   
</body>
</html>