<link rel="stylesheet" href="./css/navbar.css">
<nav>
    
    <a href="/">Homepage</a>
    <% if (user){ %>
    <a href="/auth/sign-out">Logout</a>
    

    <% } else{ %>
    <a href="/auth/sign-up">Sign up</a>
    <a href="/auth/sign-in">Login</a>

    <% } %>
    <a class="name" href="/">BeautyBook</a>
    <a href="/" class="logo">
        <img src="/images/logo.png" alt="BeautyBook Hub Logo">
    </a>
</nav>
