h3, h2{
    color:antiquewhite;
}
.back{
    font-size: 50px;
    text-decoration: none;
    color:#b1a294 ;
    
    position: relative;
  top: 10px;
}
.date-btn,
.slot {
    transition: all 0.2s ease;
}


.slot:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.date-btn.selected,
.slot.selected {
    background-color: #817263;
    color: white;
}

