nav {
  background-color: #251d12; 
  padding: 12px 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav a {
  color: #fff;                 
  text-decoration: none;      
  font-size: 1.3rem;           
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 4px;
  background-color: #908071;  
  margin-right: 15px;        
  transition: background 0.3s ease, color 0.3s ease;
}

nav a:hover {
  background-color: #b1a294;   
  color: #fff;
}


nav a:not(:last-child) {
  border-right: 2px solid #777;  
}
nav .name {
  margin-left: auto;          
  font-size: 1.4rem;        
  font-weight: 700;
  color: #f1c40f;            
  text-transform: uppercase;  
}