nav {
  background-color: #e5d5c6; 
  padding: 12px 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
}

nav a {
  color: #fff;                 
  text-decoration: none;      
  font-size: 1.3rem;           
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 4px;
  background-color: #908071;  
  margin-right: 15px;        
  transition: background 0.3s ease, color 0.3s ease;
}

nav a:hover {
  background-color: #b1a294;   
  color: #fff;
  transform: translateY(-2px);
}


nav a:not(:last-child) {
  border-right: 2px solid #777;  
}
nav .name {
  margin-left: auto;          
  font-size: 1.4rem;        
  font-weight: 700;
  color: #251d12;            
  text-transform: uppercase;  
 transition: background 0.3s ease, transform 0.2s ease;
}
nav .logo img {
  height: 2.5em;          
  width: auto;
  border-radius: 6px;    
  width: 80px;
  
}
body{
    background-color: #2c1b0f;
}